@media screen and (max-width:1440px) {
    
}
@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:1199px) {
    .ex_heading{
        font-size: 46px;
        line-height: 46px;
    }
    .img_out_first .home_dicription p{
        font-size: 20px;
        line-height: 28px;
    }
}
@media screen and (max-width:992px) {

}
@media screen and (max-width:991px) {
    .navbar-brand img{
        height: 46px;
    }
    .btn{
        padding: 12px 28px;
    }
}
@media screen and (max-width:768px) {

}
@media screen and (max-width:767px) {
    .title_part span {
        font-size: 0;
    }
   
}
@media screen and (max-width:575px) {
    .animation_div::before{
        display: none;
    }
    .ex_heading{
        font-size: 30px;
        line-height: 30px;
    }
    .img_out_first .home_dicription p{
        font-size: 16px;
        line-height: 21px;
    }
}
@media screen and (max-width:375px) {

}